@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}
.app-bar-custom {
	background-color: rgb(var(--color-surface-800));
	color: rgb(var(--theme-font-color-dark));
}
.tab-list {
	position: fixed;
	z-index: 1;
	top: 75px;
	width: 100%;
	background-color: rgb(var(--color-surface-100));
}

:root [data-theme='rmi_theme'] {
	--theme-font-family-base: 'Roboto', sans-serif;
	--theme-font-family-heading: 'Roboto', sans-serif;
}
