@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}
.app-bar-custom {
	background-color: rgb(var(--color-surface-800));
	color: rgb(var(--theme-font-color-dark));
}
.tab-list {
	position: fixed;
	top: 75px;
	width: 100%;
	background-color: rgb(var(--color-surface-100));
}
